body{
    background-color: #03224c;
    text-align:center;
}

div{
    top: 20%;
    position:absolute;
    text-align:justify;
}

header {
    background:#77b5fe;
    position:fixed;
    width:30%;
    z-index: 1;
}

footer{
    background:#eeff00;
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    padding-top:10px;
    z-index: 1;
}

nav{
    margin-top: 10px;
}

.cadre{
    position:absolute;
    background-color: #ff0000;
    width: 20%;
    height: 20%;
    left: 35%;
    padding: 1%;
    font-weight: bold;
    overflow: hidden;
}

.cadre:hover{
    position:absolute;
    width:50%;
    height:70%;
    margin-top:-56px;
    margin-left:-56px;
    z-index:100;
    transition-property:width,height,margin,z-index;
    transition-duration:0.4s;
    overflow:auto;
}

ol li{
    position:relative;
    float:left;
    width:100px;
    height:100px;
    padding:10px;
    list-style:none;
}

ol li:nth-child(4n){
    clear:left;
}
